@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #040c18;
  --text-color: #81afdd;
  --font-family: "Manrope", sans-serif;
}

.bgGradient {
  background: radial-gradient(
    circle at 4% 25%,
    rgb(11, 5, 47) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}

.gradientText {
  background: radial-gradient(
    circle at 4% 25%,
    rgba(3, 169, 244, 1) 0%,
    rgb(23, 31, 107) 100%
  );
  color: transparent;
  background-clip: text;
  font-weight: bold;
}

@layer base {
  * {
    @apply scroll-smooth p-0 m-0;
  }

  html {
    font-family: var(--font-family);
  }

  body {
    @apply m-0 p-0 h-[100%] w-[100%] overflow-hidden ;
  }

  body > .root{
    @apply py-2 px-8 text-[var(--text-color)] h-[100vh] w-[100vw];
  }
}

/* Gradient Styling For Text and Background */
@layer base {
  .textGradient {
    @apply font-extrabold bg-gradient-to-r from-[#03A9F4] to-[#060817] text-transparent bg-clip-text;
  }
}
