.authContent {
  position: relative;
  z-index: 1;
}

.authContent::before,
.authContent::after {
  content: "";
  position: absolute;
  opacity: 0.4;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.authContent::before {
  background: #03a9f4;
  top: -40px;
  left: -45px;
}

.authContent::after {
  background: #0c1556;
  bottom: -40px;
  right: -45px;
}

/* Mobile Responsive */
@media (min-width: 300px) and (max-width:640px) {
  .authContent::before,
  .authContent::after {
    height: 50px;
    width: 50px;
  }

  .authContent::before {
    background: #03a9f4;
    top: -25px;
    left: -25px;
  }
  
  .authContent::after {
    background: #0c1556;
    bottom: -25px;
    right: -25px;
  }
}
