@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
      @apply scroll-smooth p-0 m-0 select-none;
    }
  
    html,
    body {
      @apply m-0 p-0 h-[100%] w-[100%];
    }
  
    body admin {
      @apply relative z-10 flex flex-col h-dvh items-center py-5 px-5;
    }
  }

  /* Comman Text and Background colors */
@layer base {
    .gradientText {
      @apply font-extrabold bg-gradient-to-r from-[#03A9F4] to-[#0c1556] text-transparent bg-clip-text;
    }
  
    .black_btn {
      @apply rounded-full border border-black bg-black py-1.5 px-5 text-sm text-white transition-all hover:bg-white hover:text-black shadow-lg shadow-gray-500;
    }
  
    .url_input {
      @apply rounded-full bg-white py-2.5 px-5 text-sm shadow-lg font-medium;
    }
  
    .head_text {
      @apply mt-5 text-sm font-bold leading-[1.15] text-gray-500 text-center;
    }
  
    .submit_btn {
      @apply rounded-xl border py-1.5 text-sm bg-white text-black font-medium transition-all hover:bg-black hover:text-white hover:border-black shadow-lg shadow-gray-700 px-2 lg:px-6 md:px-6;
    }
  
  }


  .dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
  }
  
  .dashboard-table th,
  .dashboard-table td {
    padding: 0.75rem;
    text-align: left;
  }

  .dashboard-table thead tr {
    border-bottom: 2px solid #1f2937; 
  }
  
  .dashboard-table tbody tr:nth-child(even) {
    background: rgba(157, 157, 157, 0.6); 
  }
  
  .dashboard-table tbody tr:hover {
    background: rgba(31, 41, 55, 0.9);
    color:#ffffff
  }
  
  .dashboard-table th {
    font-weight: 700;
  }
  
  .dashboard-table td {
    border-bottom: 1px solid #1f2937;
  }
  
  .dashboard-table tbody tr:last-child td {
    border-bottom: none;
  }
  